:root {
    --bodyBackground: #FFFFFF;
    --bodyTextColor: #390D04;
    --topNavBackground: #FFFFFF ;
    --topNavColor: #3d464d ;
    --topBarLinkHoverBackground: #9ABA00;
    --splashTextColor: #FFFFFF;
    --cartBackground: #001;
    --cartTitleBackground: #335;
    --footerBackground: #FFFFFF;
    --spashBackground: #1b1f22;
    --splashTextShadow: #200;
    --cardTextColor: #1b1f22;
    --cardBackground: #FFFFFF;
    /* --unusedCardColor: #F8ED94; */
    --cardBorder: #1b1f22; 
    --cardHeaderBackground: #FFFFFF;
}
